{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off",
    "radix": "off",
    "@typescript-eslint/ban-types": "off",
    "consistent-return": "off"
  },
  "globals": {
    "API": "readonly"
  }
}
